:root {
    --color-background-light: #FFFFFF;
    --color-text-light: #1A1A1B;
    --color-block-background-light: #fff;
    --color-footer-background-light: #1A1A1B;
    --color-footer-text-light: #FFFFFF;
    --color-background-dark: #1A1A1B;
    --color-text-dark: #FFFFFF;
    --color-block-background-dark: #333;
    --color-footer-background-dark: #333;
    --color-footer-text-dark: #fff;
    --color-link-hover: #46b8da;
    --color-link-active: dodgerblue;
    --color-background: #f0f0f0;
    --color-text: #333;
    --color-primary: #007BFF;
    --color-secondary: #6c757d;
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: var(--color-text-light);
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
}

body.dark-mode {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
}

body.dark-mode a {
    color: var(--color-text-dark);
}

body.dark-mode .block,
body.dark-mode .header,
body.dark-mode .list-group-item,
body.dark-mode .badge,
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    background: var(--color-block-background-dark);
    color: var(--color-text-dark);
    border-color: var(--color-text-dark);
}

body.dark-mode .navbar a,
body.dark-mode .dropdown-menu,
body.dark-mode .sort-options.dropdown .dropdown-menu {
    color: var(--color-text-light);
    background-color: var(--color-background-dark);
}


body.dark-mode .btn {
    background-color: var(--color-block-background-dark);
    color: var(--color-text-dark);
    border-color: var(--color-text-dark);
}

body.dark-mode .btn:hover {
    background-color: var(--color-block-background-light);
    color: var(--color-text-light);
}

body.dark-mode .footer {
    background: var(--color-footer-background-dark);
    color: var(--color-footer-text-dark);
}

.btn {
    padding: 5px 10px;
    color: var(--color-text-light);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger:hover {
    background-color: #c82333;
}

.table-centered {
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

.table-centered td, .table-centered th {
    word-wrap: break-word;
    max-width: 50ch;
    overflow-x: auto;
}

.table thead {
    background-color: #f5f5f5;
}


.table tr:hover {
    background-color: #f5f5f5;
}

.list-group-item {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.list-group-item:hover {
    background-color: #e9ecef;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.block {
    background: var(--color-block-background-light);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background: var(--color-block-background-light);
}

.header a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a:hover {
    color: var(--color-link-hover);
}

.header a.active {
    color: var(--color-link-active);
}

button {
    padding: 5px 10px;
    background-color: #80ff80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #008000;
}

.navbar {
    background: var(--color-block-background-light);
    padding: 10px;
    margin-bottom: 30px;
}

.navbar a {
    color: var(--color-footer-text-light);
}

.navbar a:hover {
    color: var(--color-link-hover);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.dropdown:hover .dropdown-menu,
.sort-options.dropdown:hover .dropdown-menu {
    display: block;
}

.sort-options.dropdown {
    margin-left: auto !important;
}

.dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    color: var(--color-text-dark);
    background-color: var(--color-background-light);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-md-2, .col-md-10 {
    padding-right: 0;
    padding-left: 0;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    margin-right: 5px;
}

.avatar:hover {
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.topic-content {
    display: inline-block;
    vertical-align: top;
}
.topic-content h3 a, .topic-content h4 a {
    color: #808080;
    text-decoration: none;
}

.topic-content h3 a:hover, .topic-content h4 a:hover {
    color: #505050;
    text-decoration: underline;
}

.topic-content h4 span, .topic-info span {
    display: block;
    margin-right: 10px;
    font-size: 0.9em;
    color: #666;
}

.new-line {
    display: block;
}

.color.badge {
    background-color: #f76c6c;
    color: white;
    border-radius: 10px;
    vertical-align: top;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.volume-control-container {
    display: flex;
    align-items: center;
}

#volumeControl {
    margin: 0 5px;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#volumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

#volumeControl::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

#volumeIndicator {
    margin-left: 10px;
}

.footer {
    background: var(--color-footer-background-light);
    color: var(--color-footer-text-light);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #343536;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .main-col,
    .sidebar {
        flex: 0 0 100%;
    }
}